
section > .cadastro{
    padding: 30px 0px 50px 0px;
    width: 400px;    
    margin: auto;
    
}

.contatos {
    margin: 30px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.contatos > div {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.contatos > div > a {
    margin: 0px 10px 0px 0px;
}